.app {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: la;

}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: transparent; /* Set the background to transparent */
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease; /* Add transition for hover effect */
}

/* Optional: Add hover effect for the button */
.custom-button:hover {
  transform: translateY(-5px); /* Add the floating effect by shifting the text up */
  box-shadow: none; /* Remove the box shadow to eliminate the dark gray shadowing */
}

/* Styles for the navigation links (nav) */
.nav-wrapper {
  max-width: 1170px; /* Set the maximum width for the navigation bar */
  margin: 0 auto; /* Center the navigation bar horizontally */
  padding-top: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly across the container */
  margin: 0; /* Remove default margin from the container */
  padding: 0; /* Remove default padding from the container */
  list-style: none; /* Remove list styles from the container */
}

.nav-container .custom-button:not(:last-child) {
  margin-right: 15px; /* Adjust the margin to create space between the buttons */
}

/* 
.container {
  position: relative;
  z-index: 1;
} */

:root {
  font-family: "Helvetica", sans-serif;
}

.back-button {
  /* Button styles */
  display: inline-block;
  padding: 10px 20px; /* Adjust padding to control the button's size */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.background-image {
  background-image: url("https://media.istockphoto.com/id/1159046642/vector/sketched-vegetables-and-fruits-hand-drawn-organic-food-engraving-vegetable-and-fruit-sketch.jpg?s=612x612&w=0&k=20&c=BaA0KR78cGIUQtrddLKk-iDkpA8VdtQjFgXA9kXS1O4=");
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 175vh;
  background-color: rgba(255, 255, 255, 0.6);
  background-attachment: fixed;
  position: relative
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.update-recipe{
  margin-bottom: 50px;
}

.recipe-update-form {
  display: relative;
  flex-wrap: wrap;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  gap: 10px;
  padding-top: 30px;
  max-width: 1170px;
}

.add-recipe {
  margin-bottom: 50px;
}

.dropdown {
  text-align: left;
  justify-content: left;
  float: left;
  padding-bottom: 5px;
  width: 1170px;
}

.about-description {
  max-width: 1000px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.about-image {
  justify-content: center;
  max-width: 1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-body {
  padding-bottom: 20px;
  padding-top: 10px;
  width: 40vw;
  overflow-x: hidden;
  word-wrap: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-right: 25px;
  padding-left: 25px;
  border-color: #282c34;
  border-style: solid;
  background-color: rgba(255, 255, 255, .8);

}

.upload-button {
  display: 'flex';
  margin: 'auto';
  width: 400;
  flex-wrap: 'wrap'
}

.card-title {
  font-size: large;
  width: 50vw;
  padding-bottom: 5px;
  display: flex;
  flex: wrap;
  justify-content: left;
}

.recipe-list {
  text-align: left; 
  vertical-align: auto;
  overflow-wrap: normal;
  inline-size: 10px;
  height: 100%;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  border: solid white 2px;
  display:grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 600px;
  flex: wrap;
}


.recipe-add-form {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  gap: 10px;
  padding-top: 30px;
  max-width: 1170px;
}

.title_new_recipe {
  margin-bottom: 10px;
}

.category_new_recipe {
  width: 1170px;
  padding-top: 5px;
  margin-bottom: 10px;
  text-indent: 5px;
}

.ingredients_new_recipe {
  width: 1170px;
  height: 250px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.preparation_new_recipe {
  width: 1170px;
  height: 250px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.tips_new_recipe {
  width: 1170px;
  height: 250px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.category-container {
  float: left;
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: black;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .8);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

.nav-link {
  color:purple;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
